# Server Configuration
PORT=3000

# Crowdin App OAuth Configuration
# Visit your Crowdin Profile settings to get these (or Crowdin Organization settings for Enterprise)
CROWDIN_CLIENT_ID=your_client_id
CROWDIN_CLIENT_SECRET=your_client_secret

# Crowdin App URL (should be publicly accessible to install the app, e.g. via ngrok)
URL=https://your-ngrok-url.ngrok.io
